---
import { Image } from "astro:assets"
import H1 from "../typography/h1.astro"
import smallWhale from "../../assets/images/whale.png"
import { renderRichText, renderTitle } from "../../lib/contentful/render.ts"

const diver = [
  { text: "What is Union?", meter: "200m" },
  { text: "What is Interoperability?", meter: "400m" },
  { text: "What is Modularity?", meter: "600m" },
  { text: "Union Use Cases", meter: "800m" },
  { text: "How Union Works", meter: "1000m" },
  { text: "Trust Verification", meter: "1200m" },
  { text: "Galois", meter: "1400m" },
  { text: "CometBLS", meter: "1600m" },
  { text: "Voyager", meter: "1800m" }
]

const { entries } = Astro.props
---


<div class="flex justify-center py-24 text-lg font-mono" id="swim-container">
  <div class="relative grid grid-cols-4 gap-4 max-w-[1440px] px-6">
    <div class="flex flex-col col-span-full md:col-span-3 gap-12 md:gap-24 lg:gap-48">

      <div id="">
        <H1>
          <Fragment set:html={renderTitle(entries.firstTitle)}/>
        </H1>
        <div class="flex flex-col 2xl:flex-row gap-8 w-full pt-5">
          <div class="flex flex-col md:max-w-[576px] w-full gap-8">
            <Fragment set:html={renderRichText(entries.firstText)}/>
          </div>
          <div class="object-contain h-auto w-full">

          </div>
        </div>
      </div>


      <div>
        <H1>
          <Fragment set:html={renderTitle(entries.secondTitle)}/>
        </H1>
        <div class="flex flex-col 2xl:flex-row gap-8 w-full pt-5">
          <div class="flex flex-col md:max-w-[576px] w-full gap-8">
            <Fragment set:html={renderRichText(entries.secondText)}/>
            <H1>
              <Fragment set:html={renderTitle(entries.thirdTitle)}/>
            </H1>
            <Fragment set:html={renderRichText(entries.thirdText)}/>
          </div>
          <div class="object-contain h-auto w-full">

          </div>
        </div>
      </div>


      <div>
        <H1>
          <Fragment set:html={renderTitle(entries.fourthTitle)}/>
        </H1>
        <div class="flex flex-col 2xl:flex-row gap-8 w-full pt-5">
          <div class="flex flex-col md:max-w-[576px] w-full gap-8">
            <Fragment set:html={renderRichText(entries.fourthText)}/>
          </div>
          <div class="object-contain h-auto w-full w-max-[400px]">

          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col 2xl:flex-row gap-8 w-full pt-5">
          <div>
            <H1>
              <Fragment set:html={renderTitle(entries.fifthTitle)}/>
            </H1>
            <div class="flex flex-col md:max-w-[576px] w-full pt-5 gap-8">
              <Fragment set:html={renderRichText(entries.fifthText)}/>
            </div>
          </div>
          <div class="object-contain  w-[300px]">

          </div>
        </div>
      </div>

      <div>
        <div class="flex flex-col 2xl:flex-row gap-8 w-full">
          <div>
            <H1>
              <Fragment set:html={renderTitle(entries.sixthTitle)}/>
            </H1>
            <div class="flex flex-col md:max-w-[576px] w-full pt-5 gap-8">
              <Fragment set:html={renderRichText(entries.sixthText)}/>
            </div>
          </div>
          <div class="object-contain h-auto w-full max-w-[386px]">

          </div>
        </div>
      </div>

      <div class="flex flex-col gap-12 md:gap-24">
        <div>
          <H1>
            <Fragment set:html={renderTitle(entries.seventhTitle)}/>
          </H1>
          <div class="flex flex-col 2xl:flex-row w-full pt-5">
            <div class="flex flex-col md:max-w-[576px] w-full gap-8">
              <Fragment set:html={renderRichText(entries.seventhText)}/>
            </div>
          </div>
        </div>

        <div>
          <H1>
            <Fragment set:html={renderTitle(entries.eighthTitle)}/>
          </H1>
          <div class="flex flex-col 2xl:flex-row w-full pt-5">
            <div class="flex flex-col md:max-w-[576px] w-full gap-8">
              <Fragment set:html={renderRichText(entries.eighthText)}/>
            </div>
          </div>
        </div>

        <div>
          <H1>     <Fragment set:html={renderTitle(entries.ninthTitle)}/></H1>
          <div class="flex flex-col 2xl:flex-row w-full pt-5">
            <div class="flex flex-col md:max-w-[576px] w-full gap-8">
              <Fragment set:html={renderRichText(entries.ninthText)}/>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="relative col-span-1 hidden lg:block">
      <div class="sticky top-16 p-4 pr-0">
        <div class="flex gap-8 h-full justify-end font-mono">
          <div class="flex flex-col gap-6">
            {diver.map(item => (
                    <div class="h-16 flex items-center">
                      <a href="#" class="hover:text-accent-500">{item.text}</a>
                    </div>
            ))}
          </div>
          <div class="flex dive-gradient h-auto min-w-7 relative" id="swim-lane">
            <Image id="scrolling-dot" src={smallWhale} alt="small whale" class="absolute w-10"></Image>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    document.addEventListener('astro:page-load', () => {
      const dot = document.getElementById('scrolling-dot');
      const container = document.getElementById('swim-container');
      const swimlane = document.getElementById('swim-lane');

      window.addEventListener('scroll', () => {
        const containerRect = container.getBoundingClientRect();
        const swimlaneRect = swimlane.getBoundingClientRect();

        const containerTop = containerRect.top;
        const containerBottom = containerRect.bottom;
        const containerHeight = containerRect.height;

        const swimlaneHeight = swimlaneRect.height;

        // Calculate how much the container is scrolled
        const scrollPosition = Math.max(0, Math.min(containerHeight, window.innerHeight - containerTop));

        // Calculate the scroll percentage relative to the container's height
        const scrollPercentage = scrollPosition / containerHeight;

        // Calculate the new top position of the dot within the swimlane
        const maxDotPosition = swimlaneHeight - dot.offsetHeight;
        const newTop = scrollPercentage * maxDotPosition;

        dot.style.top = `${newTop}px`;
      });
    })
  </script>


  <style>

      .dive-gradient {
          background: linear-gradient(180deg, #FFFFFF 4%, #A0ECFD 7.13%, #030711 56%, #000000 100%);
      }

  </style>


