---
import Layout from "#/layouts/Layout.astro"
import { useStoryblokApi } from "@storyblok/astro"
import LanderSection from "#/components/LanderSection.astro"
import SocialsSection from "#/components/sections/SocialsSection.astro"
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

export async function getStaticPaths() {
  const sbApi = useStoryblokApi()

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "blogPost",
    version: import.meta.env.DEV ? "draft" : "published"
  })

  const stories = Object.values(data.stories) as Array<any>

  return stories.map(story => {
    return {
      params: { slug: story.slug }
    }
  })
}

const sbApi = useStoryblokApi()
const { slug } = Astro.params
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published"
})

// console.info(JSON.stringify({ data }, undefined, 2))

const story = data.story
---

<Layout
  url={Astro.url.href}
  title={story.content.title}
  description={story.content.description}
  image={// TODO: add image
  ''}
>
  <StoryblokComponent blok={data.story.content} />
</Layout>
<!--
<main
  class="sm:text-xl flex-grow mt-2 sm:mt-12 pb-16 max-w-2xl self-center flex flex-col pt-6 sm:pt-0 mx-4"
>
<LanderSection gradient="to-t">
  <div class="max-w-2xl self-center md:text-lg text-gray-300">

    <div class="text-lg">
      <time class="text-lg text-gray-400" datetime={entry.data.date.toISOString()}>
        {
          entry.data.date.toLocaleDateString('fr-CA', {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          })
        }
      </time>
    </div>
    <h1 class="text-3xl sm:text-4xl font-extrabold mb-0">
      {entry.data.title}
    </h1>

    <Content />
  </div>
</LanderSection>
<SocialsSection />
-->

<script is:inline type="module" src="/scripts/anchor-targets.js"></script>

<style is:inline lang="postcss">
  h1 {
    color: white !important; 
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px !important;
  }

  p > a, ul a:not(header a), ol a:not(header a) {
    text-decoration: underline;
    text-decoration-color: #A0ECFD !important;
    transition: border-bottom-color 0.2s ease-in-out;
    color: #A0ECFD !important;
  }

  p, q, blockquote {
    margin-bottom: 1rem;
    color: #D1D5DB;
  }


  p > a:hover {
    color: #A0ECFD;
  }

  ol, ul {
    li {
      color: #D1D5DB;
    }
    margin-bottom: 1rem;
  }
  @media (max-width: 640px) {
    p > a:hover {
      color: #A0ECFD;
      text-decoration-color: #fff !important;
    }
    h2 {
      font-size: 1.5rem !important;
    }
  }

  h2,h3,h4,h5 {
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 1.87rem;
    color: #ffffff;
  }

  h2::after, h3::after, h4::after, h5::after {
    content: '#';
    color: #ffffff;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    position: relative;
    visibility: hidden;
  }

  h2:hover::after, h3:hover::after, h4:hover::after, h5:hover::after {
    visibility: visible;
  }

  *::selection {
    background-color: #A0ECFD;
    color: #000;
  }
</style>
