---
import H1 from "../../typography/h1.astro";

import '../../../styles/marquee.css'

const { title, data, reverse } = Astro.props

const words = title.split(' ');
const lastWord = words.pop();
const restOfTitle = words.join(' ');
---

<div class="flex flex-col w-full items-center">
  <div class="w-full max-w-[1440px] px-6 overflow-hidden">
      <div class="text-center">
          <H1>
              {restOfTitle}
              {restOfTitle && ' '}
              <span class="text-accent-500">{lastWord}</span>
          </H1>
      </div>
      <article class="wrapper pb-12 md:pb-24 lg:pb-48">
          <div class:list={[
              'marquee',
              { 'marquee--reverse': reverse }
          ]}>
              <div class="marquee__group">
                {
                  data.map(item => (
                          <img src={item.logo.src} alt={item.name}></img>
                  ))
                }
              </div>

              <div aria-hidden="true" class="marquee__group">
                {
                  data.map(item => (
                          <img src={item.logo.src} alt={item.name}></img>
                  ))
                }
              </div>
          </div>
      </article>
  </div>
</div
