---
import Layout from '#/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import SocialsGrid from '#/components/SocialsGrid.astro'
import CodeSnippet from '#/components/CodeSnippet.astro'
import { codeSnippets } from '#/content/_snippets/landing.ts'
import { Tabs, TabItem } from '@astrojs/starlight/components'
import ConnectedVisual from '#/components/ConnectedVisual.svelte'
import PerformanceGraph from '#/components/graphs/ValidatorPerformance.svelte'
import AppleGraphContainer from '#/components/graphs/AppleGraphContainer.svelte'
import VoyagerModel from '#/components/models/VoyagerModel.svelte'
import ProductSection from '#/components/ProductSection.astro'
import microGaloisModel from "#/spline/micro-galois-optimized.splinecode";
import microCometblsModel from "#/spline/micro-cometbls-optimized.splinecode";
import microVoyagerModel from "#/spline/micro-voyager-optimized.splinecode";
import cube from "#/spline/cube-rotating-optimized.splinecode";
import Spline from "#/components/Spline.svelte";

const publishedBlogPosts = await getCollection("blog", ({ slug, data }) => {
  if (data.hidden) return false
  return { slug, data }
})

publishedBlogPosts.sort((a, b) => Number(a.data.date) - Number(b.data.date))

const [latestBlogPost, ...blogPosts] = publishedBlogPosts.reverse()
---

<Layout>
  <main class="flex flex-col flex-1 items-center px-4">
    <div class="w-full flex flex-col max-w-6xl p-px bg-black">
      <section
        class="self-center flex flex-col md:grid md:grid-cols-2 max-w-6xl items-center gap-2 md:gap-0 grid-effect-bg antialiased bg-black -mx-4 md:mx-0 mb-16"
      >
        <div class="md:order-last w-full max-w-[600px]">
          <Spline model={cube} client:only />
        </div>
        <div class="bg-gradient-to-t from-black flex flex-col items-center  text-center drop-shadow-2xl -mt-48 md:mt-0 px-4">
          <div
            class="text-3xl md:text-4xl lg:text-5xl text-white font-bold mt-24 md:mt-0"
          >
            The Sovereign<br />Interoperability Layer
          </div>
          <div class="mt-2 text-lg sm:text-xl max-w-lg font-normal text-gray-400">
            By using consensus verification, Union builds unstoppable and decentralized connections to
            enable anyone to transfer assets and data.
          </div>
          <div class="mt-4">
            <a class="font-bold text-accent px-4 font-jetbrains py-2 rounded-sm font-semibold bg-black" href="/docs">
              Start Building -&gt;
            </a>
          </div>
        </div>


      </section>
      <section class="bg-black mb-px items-center justify-center max-w-4xl w-full self-center">
        <div
          class="p-4 top-0 font-normal z-10"
        >
          <h2
            class="text-white font-bold"
          >
            Interoperability for the Modular Stack</span>
          </h2>
          <div class="mt-2 text-lg sm:text-xl font-normal text-gray-400">
          Trustless, decentralized, and permissionless interoperability
          is now possible. Union is the only protocol that provides all three, using state-of-the-art
          <span class="text-white">Zero-Knowledge cryptography</span>.
          </dvi>
        </div>
        </div>
        <div class="w-full min-w-full h-full min-h-full z-10">
          <ConnectedVisual client:load />
        </div>
      </section>

      <section
        class:list={[
          'grid sm:grid-cols-2 grid-cols-1 sm:grid-rows-1 grid-rows-2 sm:divide-x sm:divide-y-0 divide-y divide-solid divide-[#1f1f1f]',
          'md:flex-row max-w-4x items-center mb-px bg-black',
        ]}
      >
        <div class="p-4 sm:p-8 text-xl md:text-2xl font-normal text-gray-400">
          <span class="text-white">Galois</span> is the first interoperability proving layer that is
          so efficient that it allows anyone to <span class="text-white"
            >generate proofs on a phone.</span
          > Gone is the era of needing expensive cloud-clusters for ZK. Now we liberate ZK to be available
          to anyone.
        </div>
        <div class="w-full min-w-full h-full min-h-full">
          <div class="absolute p-4 sm:p-8 text-xl md:text-2xl font-normal text-white z-20">
            <span> Unmatched Scalability</span>
          </div>
          <PerformanceGraph client:only />
        </div>
      </section>
      <section class="flex flex-col items-center bg-black mb-px">
        <div
          class="w-full flex flex-col-reverse sm:flex-row justify-evenly divide-y divide-x-0 sm:divide-x sm:divide-y-0 divide-solid divide-[#1f1f1f]"
        >
          <div
            id="code-snippets"
            class="antialiased bg-black text-left font-monospace text-[15px] w-full sm:w-1/2"
          >
            <Tabs>
              {
                codeSnippets.map(snippet => (
                  <TabItem label={snippet.title}>
                    <div class="pl-3 pb-3 w-full">
                      <CodeSnippet code={snippet.code} />
                    </div>
                  </TabItem>
                ))
              }
            </Tabs>
          </div>
          <div class="antialiased bg-[#1f1f1f] sm:hidden md:show md:h-px"></div>
          <div
            class="flex flex-col gap-4 sm:p-8 p-4 sm:gap-8 items-center justify-center text-xl md:text-2xl font-normal text-gray-400 w-full sm:w-1/2 md:border-b-2"
          >
            <p>
              <span class="text-white">Union</span> is the only interoperability layer that solves the
              <span class="text-white">sovereign bridging trilemma.</span>
            </p>
            <p>
              <span class="text-accent">Trustless</span>: Union implements proper <span
                class="text-white">consensus-verification</span
              > and does not compromise on IBC's security guarantees.
            </p>
            <p>
              <span class="text-accent">Decentralized</span>: Through CometBLS' hyper-efficient
              prover, <span class="text-white">proofs can be generated by anyone</span> rather than relying
              on large institutions.
            </p>
            <p>
              <span class="text-accent">Permissionless</span>: Union's infrastructure allows for
              anyone to set up <span class="text-white">sovereign connections</span> to new networks.
            </p>
          </div>
        </div>
      </section>

      <section class="bg-black mb-px">
        <div
          class="grid grid-rows-3 grid-cols-1 sm:grid-cols-3 sm:grid-rows-1 divide-solid divide-[#1f1f1f] gap-8"
        >
          <ProductSection name="Galois" description="Decentralized proving for everyone. Galois, a key component of Union's ZK efforts, ensures proof verification with lightning-fast execution, cost-efficient operation, and decentralized infrastructure." link="/docs/architecture/galois" model={microGaloisModel}/>
          <ProductSection name="CometBLS" description="ZK-aligned consensus engine. CometBLS is an enhancement upon Tendermint which utilizes BLS signatures for efficient ZK proving, and thereby ensuring secure bridging and consensus verification." link="/docs/architecture/cometbls" model={microCometblsModel}/>
          <ProductSection name="Voyager" description="Stateless relaying for a cross-chain future. Voyager is our in-house relayer, allowing us to support new networks without waiting for up-stream support, by seamlessly integrating with Galois." link="/docs/architecture/voyager" model={microVoyagerModel}/>
        </div>
      </section>

      <section class="bg-black mb-px flex flex-col items-center justif-center p-8 sm:p-16 lg:p-16">
        <h2 class="text-3xl sm:text-4xl mb-8 font-normal">
          The most efficient interoperability layer.
        </h2>
        <div class="w-full">
          <AppleGraphContainer
            bars={[
              { width: 100, label: 'CometBLS V3', primary: true },
              { width: 9.1, label: 'ZkMint' },
              { width: 1.45, label: 'TendermintX' },
              { width: 0.77, label: 'Fraud-proof bridges' },
            ]}
            client:load
          />
        </div>
      </section>

      <section
        class="bg-black mb-px grid grid-rows-2 grid-cols-1 sm:grid-cols-2 sm:grid-rows-1 divide-y sm:divide-x sm:divide-y-0 divide-solid divide-[#1f1f1f]"
      >
        <div class="w-full p-8 mr-px">
          <a class="text-left space-y-2" href={`/blog/${latestBlogPost.slug}`}>
            <div>
              <p class="text-3xl font-bold">
                {latestBlogPost.data.title}
              </p>
            </div>
            <p class="text-pretty text-lg text-left">
              {latestBlogPost.data.description}
            </p>

            <a
              class="underline uppercase block mt-2 text-accent font-semibold"
              href={`/blog/${latestBlogPost.slug}`}>Read more {'->'}</a
            >
          </a>
        </div>
        <div
          class="p-0 list-none mx-auto w-full grid grid-rows-3 divide divide-y divide-solid divide-[#1f1f1f]"
        >
          {
            blogPosts.map(post => (
              <a
                href={`/blog/${post.slug}`}
                class="justify-center w-full h-full flex flex-col text-left flex-start px-8 py-4 my-auto"
              >
                <p class="text-xl font-bold">{post.data.title}</p>
                <p class="underline uppercase text-accent font-semibold">Read more {'->'}</p>
              </a>
            ))
          }
        </div>
      </section>

      <section>
        <SocialsGrid />
      </section>
    </div>
  </main>
</Layout>

<style lang="postcss" is:inline>
  ul[role='tablist'] {
    border-bottom-color: transparent;
    font-family: monospace !important;
    width: 100%;
    @media (max-width: 680px) {
      justify-content:space-evenly;      
    }
  }

  ul[role='tablist'] > li:first-child > a {
    border-left: none !important;
  }

  li[role="presentation"]{
    width: 100%;
  }

  a[role='tab'] {
    border-bottom-width: 1px !important;
    border-color: transparent !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    text-align: center;
    width: 100% !important;
    border-left:  1px solid #1f1f1f !important;
    border-right: none !important;
  }

  a[role="tab"][tabIndex='-1'] {
    padding-bottom: 5px !important;
    border-bottom: 1px solid #1f1f1f !important;
    border-left: none !important;
    border-left: none !important;
    border-left: 1px solid #1f1f1f !important;
  }

  a[role='tab']::before {
    display: inline-block;
    width: 7px;
    height: 7px;
    filter: invert(1);
  }

	.main-text {
		max-width: 72rem;
		font-size: 26px;
		font-weight: 900;
		text-align: center;

		@media (min-width: 340px) {
			font-size: 29px;
		}

		@media (min-width: 380px) {
			font-size: 34px;
		}

		@media (min-width: 600px) { 
			font-size: 52px;
		}

		@media (min-width: 768px) {
			font-size: 65px;
		}

		@media (min-width: 1024px) { 
			font-size: 90px;
		 }
	}

	.next-century-text {
		padding: 2px 8px;
		font-style: italic; 
		font-size: 40px;
		font-weight: 900; 
		text-align: center; 
		color: theme(colors.accent.400);
		margin: -24px -8px;
		@media (min-width: 340px) {
			font-size: 42px;
		}

		@media (min-width: 380px) {
			font-size: 44px;
		}

		@media (min-width: 600px) { 
		  font-size: 60px;
		}

		@media (min-width: 768px) {
			font-size: 70px;
		}

		@media (min-width: 1024px) { 
		  font-size: 110px;
		  line-height: 1; 
			padding: 8px 16px;
			margin: -8px 0;
		}
	}

	.tagline {
		text-align: center;
		font-size: 10px;
		margin-top: 8px;

		@media (min-width: 360px) {
			font-size: 12px;
		}
		@media (min-width: 425px) {
			font-size: 14px;
		}

		@media (min-width: 600px) { 
			font-size: 16px;
		}

		@media (min-width: 768px) {
			font-size: 24px;
		}
	}

	@keyframes textclip {
	  to {
	    background-position: 200% center;
	  }
	}

	.skew-button {
	  font-size: 12px;
	  margin-top: 16px;
	  @media(min-width: 600px) {
	  	font-size: 16px;
	  }
	  @media(min-width: 1024px) {
		margin-top: 24px;
		font-size: 18px;
	  }
	  --skew: 16deg;
	  color: theme(colors.black);
	  background: theme(colors.accent.400);
	  font-weight: 700;
	  text-align: center;
	  text-decoration: none;
	  border: 0;
	  outline: 0;
	  padding: 8px 24px;
	  display: inline-block;
	  transform: skew(calc(var(--skew) * -1));
	}

    /* Un-skew the text */
	.skew-button > span {
	  display: inline-block;
	  transform: skew(var(--skew));
	}

	.eth-logo {
		opacity: 0.2;
	}

	.trustless-connection {
		padding: 0 16px;
		margin: 0 -16px;
	}

	.animate-character {
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  animation: textclip 2s linear infinite;
		animation-direction: reverse;

	  background-image: linear-gradient(
	    100deg,
	    theme(colors.accent.400) 0%,
	    theme(colors.accent.400) 40%,
	    theme(colors.accent.200) 50%,
	    theme(colors.accent.400) 60%,
	    theme(colors.accent.400) 100%
	  );
	  background-size: 100% 100%;
	  background-size: 200% 100%;
		background-clip: text;
	}


	.animate-character-delay {
		animation-delay: -0.2s;
	}
</style>
