---
import Layout from '#/layouts/Layout.astro';
import headshot_cor from '#/assets/images/headshots/cor.jpg';

import vc_galileo from '#/assets/images/investors/galileo.svg';
import vc_nascent from '#/assets/images/investors/nascent.svg';
import vc_tioga from '#/assets/images/investors/tioga.png';
import vc_semantic from '#/assets/images/investors/semantic.png';
import vc_lightshift from '#/assets/images/investors/lightshift.png';

let profiles = [
  {
    name: "Karel", 
    title: "CEO", 
    x_name: "0xkaiserkarel", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust and Go Software Engineer", 
      "Developed IBC on Substrate", 
      "Grew Composable to 450M valuation"
    ]
  },
  { 
    name: "Cor", 
    title: "CTO", 
    x_name: "corcoder", 
    profile_pic: headshot_cor,
    description: [ 
      "Full-stack polyglot Software Engineer", 
      "Decade of experience, focus on Rust, Nix & Go", 
      "Developed Cross-ecosystem VM"
    ]
  },
  {
    name: "Emir",
    title: "Head of BD",
    x_name: "EBeriker",
    profile_pic: headshot_cor,
    description: [
      "Ex-ConsenSys monetization strategy lead (2019-2023)",
      "Advisor to crypto startups and VCs",
    ]
  },
  {
    name: "Sarah",
    title: "Head of Operations",
    x_name: "sarahkc07",
    profile_pic: headshot_cor,
    description: [
      "Nuclear Surface Warfare Officer, US Navy",
      "Prev. Director of Compliance and Ops at TokenSoft.",
    ]
  },
  { 
    name: "Hussein", 
    title: "Principal Engineer", 
    x_name: "0xc0dejug", 
    profile_pic: headshot_cor,
    description: [ 
      "IBC expert, Gnark contributor", 
      "Built dhall-to-gnark compiler and Substrate-IBC", 
    ]
  },
  { 
    name: "Abdullah", 
    title: "Founding Engineer", 
    x_name: "PoisonPhang", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust and CosmWasm Engineer", 
      "Systems Engineer", 
      "Developed the Substrate CosmWasm-VM"
    ]
  },
  { 
    name: "Ben", 
    title: "Founding Engineer", 
    x_name: "0xbonlulu", 
    profile_pic: headshot_cor,
    description: [ 
      "Rust Software Engineer Substrate and CosmosSDK", 
      "Developer Designer of staking, DEXes and fee systems",
    ]
  },
  { 
    name: "Connor", 
    title: "Founding Engineer", 
    x_name: "PoisonPhang", 
    profile_pic: headshot_cor,
    description: [ 
      "CosmosSDK contributor", 
      "CI and build systems expert", 
      "Polkadot blockchain academy mentor", 
    ]
  },
  { 
    name: "Omar", 
    title: "Full Stack Engineer", 
    x_name: "awkroot", 
    profile_pic: headshot_cor,
    description: [ 
      "CI and build systems expert", 
      
      "Polkadot blockchain academy mentor", 
    ]
  }
]
---
<Layout>
  <div class="flex flex-col flex-1 items-center px-4">
    <main class="max-w-6xl w-full">
      <h2 class="2xl text-center my-4">Core Union Labs Team</h2>

        <ul class="list-none grid grid-cols-3 divide divide-[#1f1f1f] divide-x divide-y">
          {
            profiles.map(person => (
              <li class="p-4 box flex flex-col gap-2">
                <div class="flex gap-2 items-center">
                  <img class="w-16 h-16" src={person.profile_pic.src}/>
                  <div class="leading-tight">
                    <h3 class="text-xl">{person.name}</h3>
                    <div class="text-gray-300">{person.title}</div>
                    <a class="text-accent" href={`https://x.com/${person.x_name}`}>@{person.x_name}</a>
                  </div>
                </div>
                <ul class="list-inside list-none m-0 p-0">{person.description.map(line => (
                  <li>{line}</li>
                ))}</ul>
              </a>
              </li>
            ))
          }

        </ul>

        <h2 class="2xl text-center my-4">Supporting Teams</h2>
        <ul class="list-none grid grid-cols-3 gap-2">
          <li class="border border-gray-500 p-4 box flex flex-col gap-2">
            <h3>Spearbit</h3>
            <p>Code auditing</p>
          </li>
          <li class="border border-gray-500 p-4 box flex flex-col gap-2">
            <h3>Groomlake</h3>
            <p>Security</p>
          </li>
          <li class="border border-gray-500 p-4 box flex flex-col gap-2">
            <h3>Horizons Law</h3>
            <p>Legal</p>
          </li>

        </ul>

        <h2 class="2xl text-center my-4">Investors</h2>
        <section class="flex flex-col items-center">

      		<div class="flex flex-col md:flex-row gap-[24px] mt-[24px] items-center">
      			<img class="block w-[200px]" src={vc_galileo.src} alt="Galileo"/>
      			<img class="block w-[60px] mx-8" src={vc_nascent.src} alt="Nascent"/>
      			<img class="block w-[200px]" src={vc_tioga.src} alt="Tioga"/>
      		</div>

      		<div class="flex flex-col md:flex-row gap-[24px] mt-[24px] items-center ">
      			<img class="block w-[220px]" src={vc_semantic.src} alt="Semantic"/>
      			<img class="block w-[220px]" src={vc_lightshift.src} alt="Lightshift"/>
      		</div>
      		<div class="mt-4">
      			<a class="skew-button" href="/blog/seed-raise"><span>READ THE ANNOUNCEMENT -&gt;</span></a>
      		</div>
      	</section>



    </main>
  </div>
</Layout>
