---
import type { TeamPageFields, TeamPageSkeleton } from "../lib/contentful/types.ts"
import { contentfulClient } from "../lib/contentful/client.ts"

import SectionsLayout from "#/layouts/SectionsLayout.astro"
import Card from "#/components/Card.astro"
import TopSection from "../components/sections/TopSection.astro"

import vc_galileo from "#/assets/images/investors/galileo.svg"
import vc_nascent from "#/assets/images/investors/nascent.svg"
import vc_tioga from "#/assets/images/investors/tioga.png"
import vc_semantic from "#/assets/images/investors/semantic.png"
import vc_lightshift from "#/assets/images/investors/lightshift.png"
import vc_udhc from "#/assets/images/investors/udhc.svg"
import vc_founderheads from "#/assets/images/investors/founderheads.svg"

import team_spearbit from "#/assets/images/partners/spearbit.svg"
import team_groomlake from "#/assets/images/partners/groomlake.png"
import team_horizons from "#/assets/images/partners/horizons.svg"
import ContainedSection from "../components/ContainedSection.astro"
import H1 from "../components/typography/h1.astro"

const teams = [
  {
    name: "Spearbit",
    logo: team_spearbit,
    url: "https://spearbit.com"
  },
  {
    name: "Groomlake",
    logo: team_groomlake,
    url: "https://groomla.ke"
  },
  {
    name: "Horizons Law",
    logo: team_horizons,
    url: "https://www.horizonslaw.io/"
  },
  {
    name: "Lightshift",
    logo: vc_lightshift,
    url: "https://www.lightshift.xyz/",
    clazz: "h-[44px]"
  },
  {
    name: "Galileo",
    logo: vc_galileo,
    url: "https://www.galileogroup.xyz/",
    clazz: "h-[28px]"
  },
  {
    name: "Nascent",
    logo: vc_nascent,
    url: "https://www.nascent.xyz/",
    clazz: "h-16"
  },
  {
    name: "Tioga",
    logo: vc_tioga,
    url: "https://tioga.capital/",
    clazz: "h-16"
  },
  {
    name: "Semantic",
    logo: vc_semantic,
    url: "https://www.semantic.vc/",
    clazz: "h-[38px]"
  },
  {
    name: "UDHC",
    logo: vc_udhc,
    url: "https://www.udhc.finance/",
    clazz: "h-[38px]"
  },
  {
    name: "Founderheads",
    logo: vc_founderheads,
    url: "https://founderheads.com/",
    clazz: "h-[38px]"
  }
]

let teamData: Array<TeamPageFields> | null = null
let error: string | null = null

try {
  const teamEntries = await contentfulClient.getEntries<TeamPageSkeleton>({
    content_type: "team"
  })

  if (teamEntries.items.length > 0) {
    teamData = teamEntries.items
      .map(item => item.fields)
      .sort((a, b) => {
        const posA = typeof a.position === "number" ? a.position : Number.POSITIVE_INFINITY
        const posB = typeof b.position === "number" ? b.position : Number.POSITIVE_INFINITY
        return posA - posB
      })
  } else {
    error = "No team data found."
  }
} catch (err) {
  console.error("Error fetching Contentful data:", err)
  error = "Failed to load content. Please try again later."
}
---

<SectionsLayout gapless title="Union Team">
  {error ? (
          <div class="error-message">
            <h2>Error</h2>
            <p>{error}</p>
          </div>
  ) : teamData ? (
          <>
            <TopSection>
              <div class="flex h-full w-full items-center justify-center">
                <H1>Meet the team</H1>
              </div>
            </TopSection>

            <ContainedSection>
              <div class="grid gap-12 sm:gap-12 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 py-16">
                {teamData.map((person) => (
                        <Card class="border-none group">
                          <a
                                  href={`https://x.com/${person.twitterHandle}`}
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="gap-4 flex flex-col"
                          >
                            <div class="object-cover overflow-hidden">
                              <img
                                      class="w-full h-auto group-hover:scale-110 transition"
                                      src={person.profilePicture.fields.file.url}
                                      alt={`${person.name} - Union worker`}
                              />
                            </div>
                            <div class="leading-tight uppercase font-mono">
                              <h1 class="text-2xl font-bold font-supermolot uppercase">{person.name}</h1>
                              <div class="text-gray-400 -mt-1 text-lg">{person.title}</div>
                              <div class="text-accent text-lg -mt-1 block">@{person.twitterHandle}</div>
                            </div>
                          </a>
                        </Card>
                ))}
              </div>
            </ContainedSection>
          </>
  ) : (
          <div class="loading-message">
            <p>Loading content...</p>
          </div>
  )}
</SectionsLayout>

