---
import "#/styles/fonts.css"
import "#/styles/reset.css"
import "#/styles/tailwind.css"
import { SEO } from "astro-seo"
import { Head } from "astro-capo"
import { AstroFont } from "astro-font"

const BASE_URL = import.meta.env.PROD ? import.meta.env.SITE : ""

interface Props {
  url?: string
  title?: string
  image?: string
  description?: string
  // pages that don't have text content don't need to load fonts
  loadFonts?: boolean
}

const {
  url = "https://union.build",
  title = "Union",
  image = "/og.png",
  description = "The Modular ZK Interoperability Layer",
  loadFonts = true
} = Astro.props

const OPEN_GRAPH_IMAGE = `${BASE_URL}/${image.slice(1)}`
const fontWeights = [100, 200, 300, 400, 500, 600, 700, 800, 900]
---

<!doctype html>
<html lang="en">
  <Head>
    <meta charset="utf-8" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          url,
          title,
          image: OPEN_GRAPH_IMAGE,
          type: 'website',
        },
        optional: {
          locale: 'en_US',
          siteName: 'Union',
          description,
        },
        image: { url: OPEN_GRAPH_IMAGE, alt: 'Union Logo' },
      }}
      twitter={{
        title,
        image: OPEN_GRAPH_IMAGE,
        site: '@union_build',
        description,
        imageAlt: 'Union Logo',
        creator: '@union_build',
        card: 'summary_large_image',
      }}
      extend={{
        link: [
          {
            rel: 'alternate',
            type: 'application/rss+xml',
            title: 'Union',
            href: `${Astro.site}rss.xml`,
          },
          { rel: 'sitemap', href: '/sitemap-index.xml' },
          { rel: 'icon', href: `${BASE_URL}/favicon.svg`, type: 'image/svg+xml' },
        ],
        meta: [
          { name: 'robots', content: 'index, follow' },
          { name: 'viewport', content: 'width=device-width, initial-scale=1.0' },
        ],
      }}
    />
    {
      loadFonts && (
        <AstroFont
          config={[
            {
              name: 'Inter var',
              src: fontWeights.map(weight => ({
                path: '/fonts/InterVariable.woff2',
                style: 'normal',
                weight,
              })),
              preload: true,
              display: 'swap',
              fallback: 'sans-serif',
            },
            {
              name: 'JetBrains Mono',
              src: fontWeights.map(weight => ({
                path: '/fonts/JetBrainsMono[wght].woff2',
                style: 'normal',
                weight,
              })),
              preload: true,
              display: 'swap',
              fallback: 'sans-serif',
            },
          ]}
        />
      )
    }
  </Head>
  <body
    class="font-sans flex flex-col items-stretch flex-1 bg-black text-white not-content noise-bg bg-repeat"
  >
    <slot />
    <style>
      .noise-bg {
        background-image: url('/src/assets/images/backgrounds/200-30-6-monochrome.png');
      }
    </style>
  </body>
</html>
