---
import { getCollection } from 'astro:content'

const publishedBlogPosts = await getCollection("blog", ({ slug, data }) => {
  if (data.hidden) return false
  return { slug, data }
})

publishedBlogPosts.sort((a, b) => Number(a.data.date) - Number(b.data.date))

const [latestBlogPost, ...blogPosts] = publishedBlogPosts.reverse()
---

<div class="w-full p-8 mr-px">
  <a class="text-left space-y-2" href={`/blog/${latestBlogPost.slug}`}>
    <div>
      <p class="text-3xl font-bold">
        {latestBlogPost.data.title}
      </p>
    </div>
    <p class="text-pretty text-lg text-left">
      {latestBlogPost.data.description}
    </p>

    <a
      class="underline uppercase block mt-2 text-accent font-semibold"
      href={`/blog/${latestBlogPost.slug}`}>Read more {'->'}</a
    >
  </a>
</div>
<div
  class="p-0 list-none mx-auto w-full grid grid-rows-3 divide divide-y divide-solid divide-[#1f1f1f]"
>
  {
    blogPosts.map(post => (
      <a
        href={`/blog/${post.slug}`}
        class="justify-center w-full h-full flex flex-col text-left flex-start px-8 py-4 my-auto"
      >
        <p class="text-xl font-bold">{post.data.title}</p>
        <p class="underline uppercase text-accent font-semibold">Read more {'->'}</p>
      </a>
    ))
  }
</div>
