---
import { getCollection } from 'astro:content'
import Card from '#/components/Card.astro'
import ButtonA from '#/components/ButtonA.astro'
import H3 from '#/components/typography/h3.astro'

const publishedBlogPosts = await getCollection("blog", ({ slug, data }) => {
  if (data.hidden) return false
  return { slug, data }
})

publishedBlogPosts.sort((a, b) => Number(a.data.date) - Number(b.data.date))

const [latestBlogPost, ...blogPosts] = publishedBlogPosts.reverse()
---


<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <Card padded>
    <a class="flex flex-col items-start gap-2" href={`/blog/${latestBlogPost.slug}`}>
      <H3>{latestBlogPost.data.title}</H3>
      <p class="text-pretty text-lg text-left text-gray-400 mb-4">{latestBlogPost.data.description}</p>
      <ButtonA href={`/blog/${latestBlogPost.slug}`} fake>read more</ButtonA>
    </a>
  </Card>

  <Card
    class="w-full flex flex-col divide divide-y divide-solid divide-border/30"
  >
    {
      blogPosts.map(post => (
        <a
          href={`/blog/${post.slug}`}
          class="justify-center size-full flex flex-col text-left flex-start p-4"
        >
          <p class="text-xl font-bold">{post.data.title}</p>
          <p class="text-accent font-semibold">Read More {'->'}</p>
        </a>
      ))
    }
  </Card>
</div>
