---
import unionLogo from "#/assets/union-logo/logo.svg"
import { Icon } from "astro-icon/components"
const menuItems = [
  {
    url: "/blog",
    name: "Blog"
  },
  {
    url: "https://docs.union.build",
    name: "Docs"
  },
  {
    url: "/team",
    name: "Team"
  }
]
---

<script>
  let menuOpen = false

  let overlay = document.getElementById('overlay')
  let menuButton = document.getElementById('menu-button')
  let menuItemsList = document.getElementById('menu-items-list')

  menuButton?.addEventListener('click', () => {
    menuOpen = !menuOpen
    if (!menuItemsList || !overlay) return
    menuItemsList.style.display = menuOpen ? 'flex' : 'none'
    menuItemsList.style.maxHeight = menuOpen ? menuItemsList.scrollHeight + 'px' : '0'

    if (menuOpen) {
      overlay.classList.add('show')
      overlay.style.visibility = 'visible'
    } else {
      overlay.classList.remove('show')
      overlay.style.visibility = 'hidden'
    }
  })

  overlay?.addEventListener('click', () => {
    menuOpen = false
    if (!menuItemsList || !overlay) return
    menuItemsList.style.display = 'none'
    menuItemsList.style.maxHeight = '0'

    overlay.classList.toggle('show', menuOpen)
  })
</script>

<header
  class="z-[100] w-full bg-black/60 backdrop-blur-md flex justify-around pt-3 px-4 sticky top-0 py-3"
>
  <div class="max-w-6xl flex flex-1 items-center">
    <a
      href="/"
      id="union-logo"
      class="flex items-center gap-2 decoration-transparent visited:text-white"
    >
      <img class="w-8 h-8 my-auto object-contain" src={unionLogo.src} alt="Union Logo" />
      <p class="font-semibold text-3xl py-0 my-0 mb-0.5 text-white">Union</p>
    </a>

    <div
      id="overlay"
      class="overlay sm:hidden"
      data-description="Overlay to blur the background when the menu is open"
    >
    </div>

    <nav class="hidden sm:block flex-1 justify-end">
      <ul
        class="flex flex-row gap-4 justify-end items-center left-0 top-[62px] shadow-3xl p-0 m-0 font-normal list-none sm:align-middle text-white"
      >
        {
          menuItems.map(menuItem => (
            <li>
              <a href={menuItem.url} class="text-white !text-lg text-normal flex flex-col flex-1">
                {menuItem.name}
              </a>
            </li>
          ))
        }
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.union.build"
            class="flex gap-2 text-lg"
          >
            <Icon name="tabler:brand-discord-filled" color="#fff" size="1rem" />
            <span class="sr-only">Discord</span>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/union_build"
            class="flex gap-2 text-lg"
          >
            <Icon name="fa6-brands:x-twitter" color="#fff" size="1.1rem" />
            <span class="sr-only">X</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="sm:hidden flex flex-1 justify-end">
      <button
        id="menu-button"
        name="menu-button"
        aria-label="Menu"
        title="Menu"
        class="bg-white rounded-full h-[32px] w-[32px] flex items-center justify-center cursor-pointer !p-0"
      >
        <Icon name="tabler:menu-2" color="#000000" size="1.2rem" />
      </button>

      <ul
        id="menu-items-list"
        class="absolute w-screen max-w-full flex-col bg-black left-0 top-[62px] border-y border-[#1F1F1F] shadow-3xl divide-y divide-[#1F1F1F] p-0 m-0 font-normal list-none sm:align-middle"
      >
        {
          menuItems.map(menuItem => (
            <li class="py-2 px-4">
              <a href={menuItem.url} class="text-white !text-lg text-normal flex flex-col flex-1">
                {menuItem.name}
              </a>
            </li>
          ))
        }
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.union.build"
            class="flex gap-2 text-lg px-4 py-2"
          >
            <label>Discord</label>
            <Icon name="tabler:brand-discord-filled" color="#fff" size="1rem" class="my-auto" />
          </a>
        </li>
        <li class="">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://x.com/union_build"
            class="flex gap-2 text-lg px-4 py-2"
          >
            <label>X.com</label>
            <Icon name="fa6-brands:x-twitter" color="#fff" size="1.1rem" class="my-auto" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style is:inline>
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(20px);
    z-index: -1;
  }
  #menu-items-list {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  #union-logo,
  #menu-button,
  #menu-items-list {
    z-index: 1000;
  }

  .overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background: rgba(0, 0, 0, 9); /* Adjust color and opacity as needed */
    visibility: hidden;
    opacity: 0;
    transition:
      opacity 0.3s ease,
      visibility 0s 0.3s; /* Add transition for visibility */
  }

  .overlay.show {
    visibility: visible;
    opacity: 0.75;
    transition: opacity 0.3s ease; /* No delay needed when showing */
  }
</style>
