---
import Card from "#/components/Card.astro"

interface Props {
  person: {
    twitterHandle: string
    name: string
    profilePicture: unknown
    title: string
  }
}

const { person } = Astro.props
---

<Card hoverScale>
  <a
    href={`https://x.com/${person.twitterHandle}`}
    target="_blank"
    rel="noopener noreferrer"
    class="flex flex-col"
  >
    <div class="object-cover overflow-hidden">
      <!-- We don't have a picture for every person !-->
      {
        person?.profilePicture?.fields?.file?.url ? (
          <img
            class="w-full aspect-[1/1]"
            src={person?.profilePicture?.fields?.file?.url}
            alt={`${person.name} - Union worker`}
          />
        ) : (
          <div class="bg-neutral-900 aspect-1 w-full" />
        )
      }
    </div>
    <div class="leading-tight flex flex-col gap p-2 sm:p-4 uppercase font-mono">
      <h1 class="text-2xl font-bold font-supermolot uppercase">
        {person.name}
      </h1>
      <div class="text-gray-400">{person.title}</div>
      <div class="text-accent block">
        @{person.twitterHandle}
      </div>
    </div>
  </a>
</Card>
